//	Menu
.mm-menu,
.mm-panels,
.mm-panels > .mm-panel
{
    margin: 0;
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    z-index: 0;
}
.mm-menu
{
    box-sizing: border-box;
    background: inherit;
    display: block;
    overflow: hidden;
    padding: 0;
}