//	Panels
.mm-panel
{
    -webkit-transition: -webkit-transform $mm_transitionDuration $mm_transitionFunction;
    -moz-transition: -moz-transform $mm_transitionDuration $mm_transitionFunction;
    -ms-transition: -ms-transform $mm_transitionDuration $mm_transitionFunction;
    -o-transition: -o-transform $mm_transitionDuration $mm_transitionFunction;
    transition: transform $mm_transitionDuration $mm_transitionFunction;

    @include mm_webkit_prefix( 'transform', translate3d( 100%, 0, 0 ) );

    &.mm-opened
    {
        @include mm_webkit_prefix( 'transform', translate3d( 0%, 0, 0 ) );
    }
    &.mm-subopened
    {
        @include mm_webkit_prefix( 'transform', translate3d( -$mm_subpanelOffset, 0, 0 ) );
    }
    &.mm-highest
    {
        z-index: 1;
    }
}

.mm-panels,
.mm-panels > .mm-panel
{
    background: inherit;
    border-color: inherit;
}
.mm-panels > .mm-panel
{
    background: inherit;
    border-color: inherit;

    -webkit-overflow-scrolling: touch;
    overflow: scroll;
    overflow-x: hidden;
    overflow-y: auto;

    box-sizing: border-box;
    padding: 0 $mm_panelPadding;

    &.mm-hasnavbar
    {
        padding-top: $mm_navbarHeight;
    }

    //	Because padding-bottom in some browsers is ignored when a DIV is scrollable
    &:before,
    &:after
    {
        content: '';
        display: block;
        height: $mm_panelPadding;
    }
}


//	Vertical
.mm-vertical .mm-panel
{
    @include mm_webkit_prefix( 'transform', none !important );
}

.mm-vertical .mm-listview,
.mm-listview .mm-vertical
{
    .mm-panel
    {
        display: none;
        padding: $mm_padding 0 $mm_padding $mm_padding;

        .mm-listview > li:last-child:after
        {
            border-color: transparent;
        }
    }
}
.mm-vertical li.mm-opened,
li.mm-vertical.mm-opened
{
    > .mm-panel
    {
        display: block;
    }
}
.mm-vertical .mm-listview > li,
.mm-listview > li.mm-vertical
{
    > .mm-next
    {
        height: $mm_btnSize;
        bottom: auto;

        &:after
        {
            top: ( $mm_btnSize / 2 ) - 4;
            bottom: auto;
        }
    }
    &.mm-opened
    {
        > .mm-next:after
        {
            @include mm_webkit_prefix( "transform", rotate( 45deg ) );
        }
    }
}

.mm-navbar
{
    border-bottom: 1px solid;
    border-color: inherit;
    text-align: center;
    line-height: $mm_btnSize / 2;

    height: $mm_navbarHeight;
    padding: 0 $mm_btnSize;

    margin: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;

    > *
    {
        display: block;
        padding: ( $mm_btnSize / 4 ) 0;
    }
    a,
    a:hover
    {
        text-decoration: none;
    }
    .mm-title
    {
        @include mm_ellipsis;
    }
    .mm-btn
    {
        box-sizing: border-box;
        width: $mm_btnSize;
        height: $mm_btnSize;
        position: absolute;
        top: 0;
        z-index: 1;

        &:first-child
        {
            padding-left: $mm_panelPadding;
            left: 0;
        }
        &:last-child
        {
            text-align: right;
            padding-right: $mm_panelPadding;
            right: 0;
        }
    }
}
.mm-panel
{
    .mm-navbar
    {
        display: none;
    }
    &.mm-hasnavbar .mm-navbar
    {
        display: block;
    }
}